canvas {
  border: 1px solid black;
}
.quizCanvas {
  width: 96px;
  height: 84px;
}
hr {
  width: 3;
}
.japan {
  border: 1px solid black;
}
.korea {
  border: 1px solid black;
}
.h1 {
  color: #ff3333;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
.h4 {
  color: #004d00;
  font-weight: bold;
}
