@canvasBorder: 1px solid black;
//quizes
@quizWidth:96px;
@quizHeight:84px;
@center:center;

//hr
@hrWidth:3;

//color variables
@red:red;
@green:green;

//font-styles
@bold:bold;
@italic:italic;

canvas{
  border: @canvasBorder;
}
.quizCanvas{
    width:@quizWidth;
    height:@quizHeight;
}
hr{
    width:@hrWidth;
}
.japan{
    border: @canvasBorder;
}
.korea{
    border: @canvasBorder;
}
h1 {
  color: lighten(@red, 50%); 
  font-weight: @bold;
  font-style:@italic;
  text-align: @center;
}
h4 {
    color: darken(@green, 10%);
    font-weight: @bold;
}