@canvasBorder: 1px solid black;
//quizes
@quizWidth:96px;
@quizHeight:84px;
@center:center;

//hr
@hrWidth:3;

canvas{
  border: @canvasBorder;
}
.quizCanvas{
    width:@quizWidth;
    height:@quizHeight;
}
hr{
    width:@hrWidth;
}